@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Climate+Crisis:YEAR@1979..2050&family=Fleur+De+Leah&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    border: 5px solid black;
    border-radius: 10px;
    height: 500vh;
}
nav{
    padding: 0.5px 0.8vw;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.contact{
    height: fit-content;
    top: 1vh;
    font-family: "Antonio", sans-serif;
    font-size: 1.5vw;}

nav h1{
    position: absolute;
    font-size: 19vw;
    left: 1%;
    line-height: 0.75;
    font-family: "Climate Crisis", sans-serif;
}

#hero{
    height: 100vh;
    margin-top: -10vw;
    padding: 0vw 1vw;
    padding-top: 10vw;
/*     background-color: cyan;
 */}

#tagline{
    margin-top: -10vw;
    font-family: "chillax", sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.1;
    text-align: center;
}
#partition{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
}
#heroleft{
    width: 50%;
}

#mname{
    font-family: "climate crisis", sans-serif;
    font-size: 5vw;
    font-weight: 300;
}
#heroleft h1{
    font-size: 7.5vw;
    font-family: "Antonio", sans-serif;
    line-height: 0.7;
}

#heroleft p{
    margin-top: 2.8vw ;
    font-family: "chillax", sans-serif;
    font-weight: 400;
    font-size: 1.2vw;

}
#heroleft button{
    margin-top: 2.8vw;
    padding: 0.5vw 1.5vw;
    border-radius: 5px;
    border: none;
    background-color: #010B13;
    color: #f9f9f6;
    cursor: pointer;
    font-size: 1.2vw;
    font-family: "chillax", sans-serif;
}

#heroright{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 70vh;
}

#gif{
    height: 100%;
    width: 70%;
    border-radius: 20px;
    overflow: hidden;
}

#video_intro{
    height: 100vh;
    width: 96vw;
    justify-self: center;
    border-radius: 20px;
    background-color: blueviolet;
    object-fit: cover;
    overflow: hidden;
    scale: 1;
}
#video_intro video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#what_we_do{
    height: 135vh;
    position: relative;
}

#what_we_do p{
    font-family: "bebas neue", sans-serif;
    font-size: 12vw;
    font-weight: 800;
    text-align: center;
    line-height: 1.15;
}
#at{
    margin-left: -70vw;
    margin-bottom: 1vw;
    padding-top: 3vw;
}
#at::after{
    height: 100px;
    width: 100px;
    background-color: aqua;
}

#abra{
    height: 15vw;
    width: 70vw;
    display: flex;
    overflow: hidden;
    position: absolute;
    left: 25%;
    top: 3vw;
}

.inside_abra{
    flex: 1;
    transition: flex 0.5s ease;
    height: 100%;
    width: 20%;
    border-radius: 15px;
    background-color: #D4D4CF;
    border: 2px solid gray;
    background-image: url('https://i.pinimg.com/474x/d2/a2/d4/d2a2d404914a753cc1a740ca02a7b3ba.jpg');
    background-size: cover;
    color: transparent;
    background-clip: text;
}

.inside_abra p{
    font-family:"climate crisis", sans-serif !important;
    font-size: 11vw !important;
    
}

.inside_abra:hover{
    flex: 3;
    cursor: pointer;
}



#day3{
    height: 100vh;
    width: 100%;
    background-color: green;
}












footer{
    height: 93vh;
    width: 100%;
    background-color: #010B13;
    color: #f9f9f6;
    text-align: center;
}

#s_heading{
    font-family: "bebas neue", sans-serif;
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
    padding: 0vw 1vw;
    padding-top: 1vw;
}

#m_content{
    font-family: "bebas neue", sans-serif;
    font-size: 12vw;
    text-align: center;
    line-height: 0.9;
}

#mess_button{
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
}

#mess_button button{
    padding: 1.5vw 7.5vw;
    border-radius: 50px;
    border: none;
    border: 2px solid #f9f9f6;
    color: #f9f9f6;
    cursor: pointer;
    font-size: 1.2vw;
    font-family: "chillax", sans-serif;
    background-color: #010B13;
}